*{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ---------------------------
Main body and section styling
--------------------------- */

.body{
    width: 80vw;
    margin-left: 20vw;
}

section{
    height: 100vh;
    padding: 30px;
    border-bottom: 5px dotted white;
}

/* ------------------------
Recipe Time Tracker Styling
------------------------- */
//Recipe Time Tracker uses HTML & CSS code adapted from: [dcode]. (2022 Mar 30). Build a Workout Tracker with JavaScript and Local Storage [Video]. Youtube. https://www.youtube.com/watch?v=HY6nPFsADDo Code class names and input types changed where necessary, adapted the CSS structure and modified it to allow users to add a new recipe entry and keep track of how long it takes them to cook the recipe.

.timeTracker {
    border-collapse: collapse;
    width: 600px;
}

.timeTracker th, .timeTracker td {
    padding: 0.75em;
}

.dateEntry, .recipeEntry, .timeEntry {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1em;
    height: 2.5em;
    padding: 0.5em 0;
}

//styling the duration input box
.timeEntry {
    width: 5em;
}

.deleteEntryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 1.5em;
    margin-left: 0.5em;
    cursor: pointer;
}

.deleteEntryButton:hover {
    background: rgba(0, 0, 0, 0.507);
}

.newEntryRow {
    border-top: 3px;
    border-bottom: 3px;
}

.newEntryRow td {
    text-align: right;
}

.addEntryButton {
    display: inline-block;
    padding: 0.5em 1em;
    color: green;
    cursor: pointer;
}

/* ------------------------------------
Body Content Responsiveness for mobile
------------------------------------ */

@media(max-width: 850px){
    .body{
        width: 100vw;
        margin-left: 0vw;
    }

    section{
        padding-top: 120px;
    }
}
