*{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.body{
    width: 80vw;
    margin-left: 20vw;
}

section{
    height: 100vh;
    padding: 30px;
}

//body content responsiveness for mobile
@media(max-width: 850px){
    .body{
        width: 100vw;
        margin-left: 0vw;
    }

    section{
        padding-top: 120px;
    }
}