.wrapper .navmenu{
    background: #D24545;
}

.wrapper .body{
    background: white;
}

#profileSection {
    background: #E6BAA3;
}

#homeSection {
    background: #E4DEBE;
}

#recipeTrackerSection {
    background: #E6BAA3;
}

#timeTrackerSection {
    background: #E4DEBE;
}