/* ---------------------------
Main body and section colours
--------------------------- */

.wrapper .navmenu{
    background-color: rgba(0, 0, 0, 0.329); //colour is slightly transparent for glass-effect on mobile menu
    //backdrop-filter: blur(10px); //blurs background behind the mobile menu
    color: white;
}

a {
    color: white;
}

#profileSection {
    color: white;
}

#homeSection {
    color: white;
}

#mealTrackerSection {
    color: white;
}

#timeTrackerSection {
    color: white;
}

/* -----------------
Meal Tracker colours
------------------ */

.cardWrapper {
    color: black;
}

.expandButton {
    background-color: #FFD046;
    color: black;
}

.expandButton:hover {
    background: rgba(0, 151, 33, 0.89);
}

/* ------------------------
Recipe Time Tracker Colours
------------------------ */

.timeTracker th {
    color: black;
    background-color: #FFD046;
}

.userEntries .entryRow {
    background: rgba(236, 236, 236, 0.616);
}

.userEntries .entryRow:nth-child(odd) {
    background: rgba(105, 105, 105, 0.507);
}

.dateEntry, .recipeEntry, .timeEntry {
    background: white;
}

.newEntryRow {
    border-top: solid #333333;
    border-bottom: solid #333333;
    background: white;
}

//Add/delete button colours
.deleteEntryButton {
    color: red;
}

.addEntryButton {
    color: green;
}

.deleteEntryButton:hover {
    background: rgba(0, 0, 0, 0.507);
}