/* -----------------
Home section colours
----------------- */

//All text outlines achieved using 4 text-shadows, code sourced from Stack Overflow: https://stackoverflow.com/questions/4919076/outline-effect-to-text
.homeContent h1 {
    color: #ffbf00;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.homeContent h2 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.homeContent ul {
    background-color: black;
}


/* ---------------------------
Main body and section colours
--------------------------- */

.wrapper .navmenu{
    background-color: rgba(0, 0, 0, 0.329); //colour is slightly transparent to partially show background image 
    color: white;
}

a {
    color: white;
}

#profileSection {
    color: white;
}

#homeSection {
    color: white;
}

#mealTrackerSection {
    color: white;
}

#timeTrackerSection {
    color: white;
}

/* -----------------
Meal Tracker colours
------------------ */

//meal tracker section heading and subheading colours
.mealTrackerIntro h1 {
    color: #ffbf00;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.mealTrackerIntro h2 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

//meal card colours
.cardWrapper {
    color: black;
}

.expandButton {
    background-color: #FFD046;
    color: black;
}

//view recipe button turns green when cursor hovers over it
.expandButton:hover {
    background: rgba(0, 151, 33, 0.89);
}

//meal details pop-up screen
.mealDetails {
    background-color: #ffffff81;
    backdrop-filter: blur(10px);
    color: black;
}

.fa-x {
    color: red;
}

.fa-x:hover {
    background: rgba(0, 0, 0, 0.507);
    padding: 5px;
}

/* ------------------------
Recipe Time Tracker Colours
------------------------ */

//recipe time tracker section heading and subheading colours
.timeTrackerIntro h1 {
    color: #ffbf00;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.timeTrackerIntro h2 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

//time tracker table head and row colours
.timeTracker th {
    color: black;
    background-color: #FFD046;
}

//user entry row colours
.userEntries .entryRow {
    background: rgba(236, 236, 236, 0.616);
}
//odd rows are coloured a different shade to help distinguish rows apart when user adds new rows
.userEntries .entryRow:nth-child(odd) {
    background: rgba(105, 105, 105, 0.507);
}

.dateEntry, .recipeEntry, .timeEntry {
    background: white;
}

.newEntryRow {
    border-top: solid #333333;
    border-bottom: solid #333333;
    background: white;
}

//Add/delete button colours
.deleteEntryButton {
    color: red;
}

//add new row green button text
.addEntryButton {
    color: green;
}

.deleteEntryButton:hover {
    background: rgba(0, 0, 0, 0.507);
}