*{
    box-sizing: border-box;
}

.navmenu{
    //places navbar in top left 
    position: fixed;
    left: 0;
    top: 0;

    width: 20vw;
    height: 100vh;
}

.navmenu .logo{
    color: white;
    text-align: center;
    line-height: 90px;
    padding: 15px;
    font-size: 2.5vw;
}

.navmenu ul li{
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

a:hover {
    background-color: #A94438;
    padding: 15px;
}

//navmenu icon arrangement
i{
    margin-right: 10px;
}

//menu responsiveness to mobile
@media(max-width: 850px){
    .navmenu{
        //places navmenu across top of screen
        height: 120px;
        width: 100vw;
        display: flex;
        //align-items: right;
    }

    .navmenu .menubuttons{
        position: absolute;
        left: 75%;
    }

    .navmenu .logo{
        font-size: 23px;
        text-align: left;
    }
}