*{
    box-sizing: border-box;
}

// Desktop Navigation CSS

.navmenu {
    //places navbar in top left 
    position: fixed;
    left: 0;
    top: 0;

    width: 20vw;
    height: 100vh;
}

.navmenu .logo{
    text-align: center;
    line-height: 90px;
    padding: 15px;
    font-size: 2.5vw;
    border-bottom: 1px solid white;
}

.navmenu ul li{
    list-style: none;
    padding: 15px;
}

//navmenu text colour
a{
    text-decoration: none;
}

a:hover {
    background-color: black;
    padding: 10px;
}

//navmenu icon placement
i{
    margin-right: 10px;
}

//hide burger menu icon and mobile menu styling for desktop
.menubtn {
    display: none;
}

.mobilemenu{
    display: none;
}

//Menu responsiveness for mobile navigation

@media(max-width: 850px){
    .navmenu{
        //places navmenu across top of screen
        height: 120px;
        width: 100vw;
        display: flex;
    }

    .navmenu .mobilemenu{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.596); //colour is slightly transparent for glass-effect on mobile menu
        backdrop-filter: blur(10px); //blurs background behind the mobile menu
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    }

    //hide desktop menu for mobile
    .desktopmenu {
        display: none;
    }

    .navmenu .logo{
        font-size: 23px;
        text-align: left;
        border-bottom: 0;
    }

    .navmenu ul li{
        list-style: none;
        padding: 15px;
        width: 100%;
    }

    //size and placement of burger menu for mobile
    .menubtn {
        display: flex;
        position: fixed;
        top: 10px;
        right: 50px;
        font-size: 30px;
        cursor: pointer;
    }

    //User feedback when hovering over "x" button to hide mobile nav
    .fa-x {
        cursor: pointer;
    }

}