.wrapper .navmenu{
    //places navbar in top left 
    position: fixed;
    left: 0;
    top: 0;

    width: 20vw;
    height: 100vh;
}

.wrapper .navmenu h1{
    color: white;
    text-align: center;
    line-height: 90px;
    border-bottom: 1px solid white;
}

.wrapper .navmenu ul li{
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

//navmenu text colour
a{
    color: white;
    text-decoration: none;
}

//navmenu icon arrangement
i{
    margin-right: 10px;
}