.wrapper {
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------
Meal Tracker Typography
--------------------- */

//cards
.mealCard h3 {
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.mealCard p {
    font-size: 15px;
    margin-bottom: 16px;
    text-align: center;
}

.mealCard h4 {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.amountEntry {
    text-align: center;
}

//meal details pop-up
.mealDetails {
    text-align: center;
}

/* ---------------------------
Recipe Time Tracker Typography 
--------------------------- */

.timeTracker {
    font-size: 14px;
}

.timeTracker th {
    font-size: 1.15em;
    text-align: left;
    font-weight: normal;
}

.timeEntry {
    text-align: right;
}

//Fonts for mobile view
.dateEntry, .recipeEntry, .timeEntry {
    font-size: 1em;
}

.deleteEntryButton {
    font-size: 1.5em;
}

.newEntryRow td {
    text-align: right;
}

.timeTracker td {
    text-align: right;
}

.dateEntry, .recipeEntry, .timeEntry {
    text-align: right;
}

td::before {
    text-align: left;
    font-weight: bold;
}