.wrapper {
    font-family: Arial, Helvetica, sans-serif;
}

.timeTracker {
    font-size: 14px;
}

.timeTracker th {
    font-size: 1.15em;
    text-align: left;
    font-weight: normal;
}

.timeEntry {
    text-align: right;
}