.wrapper {
    font-family: Arial, Helvetica, sans-serif;
}

/* --------------------
Home section Typography
-------------------- */

.homeContent h1 {
    font-size: 3em;
    font-weight: bolder;
}

.homeContent h2 {
    font-size: 1.8em;
    font-weight: bolder;
}


/* ---------------------
Meal Tracker Typography
--------------------- */

.mealTrackerIntro {
    text-align: center;
}

.mealTrackerIntro h1 {
    font-size: 2.5em;
    font-weight: bolder;
}

.mealTrackerIntro h2 {
    font-size: 1.5em;
}

//cards
.mealCard h3 {
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.mealCard p {
    font-size: 15px;
    margin-bottom: 16px;
    text-align: center;
}

.mealCard h4 {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.amountEntry {
    text-align: center;
}

//meal details pop-up
.mealDetails {
    text-align: center;
}

.mealDetailsContent {
    margin-top: 40px;
}

/* ---------------------------
Recipe Time Tracker Typography 
--------------------------- */

.timeTrackerIntro {
    text-align: center;
}

.timeTrackerIntro h1 {
    font-size: 2.5em;
    font-weight: bolder;
}

.timeTrackerIntro h2 {
    font-size: 1.5em;
    margin-bottom: 100px;
}

.timeTracker {
    font-size: 14px;
}

.timeTracker th {
    font-size: 1.15em;
    text-align: left;
    font-weight: normal;
}

.timeEntry {
    text-align: right;
}

//Fonts for mobile view
.dateEntry, .recipeEntry, .timeEntry {
    font-size: 1em;
}

.deleteEntryButton {
    font-size: 1.5em;
}

.newEntryRow td {
    text-align: right;
}

.timeTracker td {
    text-align: right;
}

.dateEntry, .recipeEntry, .timeEntry {
    text-align: right;
}

td::before {
    text-align: left;
    font-weight: bold;
}